$white: #ffff;
$header_background:#141f40;
$header_contents: #a9004b;
$left_background:#80bfa8;
$right_background:#8c2727;
$right_contents:#ff863f;
$footer_background:#d98d30;
$contentMaxWidth: 400px;


