@use '../variable' as vars;
.right-side {
    width: 250px;
    height: 250px;
    background-color: vars.$right_background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    & > .right-item {
        width: 150px;
        height: 50px;
        background-color: vars.$white;
        display: flex;
        justify-content: center; /*左右中央揃え*/
        align-items: center;
        margin-right: 10px;

        & > div {
            width: 140px;
            height: 40px;
            background-color: vars.$right_contents;
            margin: 0 auto;
        }
    }
}